body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-container {
  display: flex;
}

.panel {
  background-color: gray;
  z-index: 1000;
}

#map {
  position: absolute;
}

#side-bar {
  height: 100%;
}

#side-bar-content {
  width: 200px;
}

#side{
	width: 25px;
}

#bottom-bar {
  align-self: flex-end;
  width: 100%;
}

#bottom-header {
  height: 25px;
  justify-content: space-between;
  align-items: center;
}

.fas {
  font-size: 30px;
  margin: 3px 5px;
  color: #FFFF00;
}

.collapse{
	border: 1px solid yellow;
}

div.collapse:hover{
	background-color: darkgreen;
	cursor: pointer;
}