body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-container {
  display: flex;
}

.panel {
  background-color: gray;
  z-index: 1000;
}

#map {
  position: absolute;
}

#side-bar {
  height: 100%;
  border-top-right-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

#side-bar-content {
  width: 200px;
  overflow-y: auto;
}

#side {
  width: 25px;
  border-top-right-radius: 10px;
}

#bottom-bar {
  align-self: flex-end;
  width: 100%;
  border-top-right-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);

}

#bottom-header {
  height: 25px;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 10px;
}

.fas {
  font-size: 30px;
  margin: 3px 5px;
  color: #FFFF00;
}

.fa-plus, .fa-minus {
  font-size: 15px;
}

.collapse {
  border: 1px solid yellow;
}

div.collapse:hover {
  background-color: rgba(50, 150, 50, 0.6);
  cursor: pointer;
}

#add-waypoint:hover {
  cursor: pointer;
}

#delete-waypoint:hover {
  cursor: pointer;
}

#waypoint-header {
  margin-bottom: 10px;
}

#slider{
  margin-right: 0px;
}